body {
    color: rgb(0, 0, 0);

    /*height: 100vh;*/
    justify-content: center;
    align-items:flex-end;

    background:rgb(51,88,121);
}

.page-tittle{
    margin-left: 300px;
}

.form-container {
    max-width: 1000px;
    width: 100%;
    padding-top: 5px;
    padding-bottom:60px;
    padding-left: 35px;
    border-radius: 25px;
    background:rgb(149,178,200);


    margin-left:240px;
    margin-top: 17px;

}

.form-container .heading {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}

.form-container form .card-details {
    margin-top: 25px;
    display: flex;
}

/*
.card-details{
    display: flex;
}*/

form .card-details .card-box {
    width: calc(100%/2-20px);
    margin-bottom: 15px;
}

.card-details .card-box .details {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.box-details{
    font-weight: 600;
}

.card-details .card-box input {
    height: 35px;
    width: 80%;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 2px;
}

form .circle-form .circle-title {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

#devsubmit {
    background-color: #101865; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    left: 580px;
    top: 925px;
    border-radius: 8px;
  }
  #devsubmit:hover {
    background-color: rgb(3, 8, 35);
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s ease;
}  
 