body {
    background-color: rgb(51, 88, 121);
}

/* Page Topic*/

.page-topic {

    /* -GameJams- */
    display: block;
    text-align: center;
    
    /*margin-top: 20px;*/
    padding-top: 20px;
    
    
    
    font-family: 'Kreon';
    font-style: normal;
    font-weight: 200;        
    font-size: 15px;
    line-height: 22px;
        /* identical to box height */
    
    
    color: #FFFFFF;
    
}


/* Filters*/


* {
    padding: 0;
    margin: 0;
}



.side-nav {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 175px;
    background-color: lightgray;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.3s;
}

.side-nav p {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(60, 54, 54);
    display: block;
    transition: 0.3s;
}

.type-filter {
    padding-left: 40px;
}

.elements {
    display: flex;
    margin-bottom: 8px;
}

.elements label {
    margin-left: 5px;
    font-size: 17px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}



.trigger {
    display: inline-block;
    font-size: 19px;
    /*background-color: rgb(195, 194, 194);
    font-family: 'Times New Roman', Times, serif;*/
    padding: 10px 20px 10px 15px;
    margin: 25px 15px 5px 175px;
    border-radius: 3.5px;

    font-family: 'Kreon';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
        /* identical to box height */
    
    
    color: #FFFFFF;
}

.sort {
    display: inline-block;
    font-size: 19px;
    /*background-color: rgb(195, 194, 194);
    font-family: 'Times New Roman', Times, serif;*/
    padding: 10px 20px 10px 15px;
    margin: 25px 150px 5px 15px;
    border-radius: 3.5px;
    transition: margin 0.3s;

    font-family: 'Kreon';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #FFFFFF;
}

.sort img {
    display: inline-block;
    transform: translateY(5px);
    height: 18px;
    width: 17px;
}

.sort span {
    font-family: 'Kreon';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #94B6D6;
}

.upper-break {
    display: flex;
    justify-content: space-between;
}

#topic-break {
   
    margin: 5px 150px 15px 175px;
    color: #86AFEC;
    
    border: 1px solid #86AFEC;
}

#filter-on {
    display: none;
}

/*Cards*/

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 175px;
    transition: margin 0.3s ease;
}

.card {
    background-color: #95B2C8;
    width: 282.5px;
    margin: 10px;
    border-radius: 10px;
}

.first-row {
    margin: 15px;
    align-items: center;

}

.card-image {
    background-color: rgb(173, 169, 163);
    height: 150px;
    background-size: cover;
    
    position: relative;
    
}

.card-image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.jam-name {
    display: flex;
    font-size: 20px;
    color: #1F1E1E;
    justify-content: space-between;
    margin: 7px 10px 2px 10px;
}

.tagline {
    padding: 3px 10px;
    font-size: 17px;
    color: #475872;
    margin-bottom: 7px;
    text-align: justify;
}

.details {
    padding: 3px 10px;
    font-size: 17px;
    color: #475872;
    margin-bottom: 7px;
    text-align: justify;
    line-height: 70%;
}

.host-name{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    display: inline-block;
    
}

.details>div {
    margin-bottom: 10px;
}

.count h2 {
    display: inline-block;
}

.card a {
    background-color: rgb(162, 212, 212);
    color: black;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration:none;
}

.card:hover {
    background-color: rgb(49, 46, 46);
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s ease;
}

/*Pagination*/

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0px 13px 0px;
}

.pagination a {
    color: rgb(138, 190, 237);
    padding: 8px 12px;
    text-decoration: none;
}

.pagination a.active {
    background-color: rgba(217, 217, 217, 0.11);
    border: 2px solid rgba(217, 217, 217, 0.11);
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    color: gray;
    border-radius: 5px;
}

.checkbox{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
}

