* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(209, 204, 204);
}

.navbar {
    display: block;
    height: 70px;
    text-align: center;
    background-color: gray;
    color: white;
}

.logo {
    display: block;
    text-align: center;
    font-size: 29px;
    padding: 15px;
}

.logo a{
    text-decoration: none;
    color: white;
}

