@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&display=swap');

.wrapper{
  display: block;
  margin: 50px auto;
  text-align: center;
  position: relative;
  width: 45%;
  background: rgb(138, 155, 198, 0.44);
  border-radius: 8px;
}

.toggle-btn {
  display: inline-block;
  width: 150px;
  font-size: 25px;
  font-family: 'Kreon', serif;
  font-weight: bold;
  margin: 40px 20px;
  background-color: #84AED4;
  border: none;
  padding: 10px;
  border-radius: 12px;
}

.form-login-label{
  text-align: left;
  display: block;
  color:white;
  font-size: 22px;
  margin: 10px 70px 0px 100px;
}

#username {
  margin-top: 20px;
}

/*Normal Form Input*/
form input[type=text], input[type=password] {
  display: inline-block;
  height: 40px;
  width: 500px;
  margin: -10px 100px 10px 100px;
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  background-color: rgb(115, 170, 193, 0.72);
}

#form ::placeholder {
  color: rgb(72, 95, 117, 0.6);
  font-size: 17px;
  font-family: 'Kreon', serif;
}

#login, #register {
  color: #0D3860;
  background-color: #7FAFDB;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 18px;
  font-size: 25px;
  font-family: 'Kreon', serif;
  font-weight: bold;
}


.forgot-pw{
  width:100%;
  height:70px;
  font-size: 18px;
  text-align:center;
  margin-top: 20px;
  background-color:rgba(138, 155, 198, 0.44);
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
}
.forgot-pw a{
  color:#372372;

}

.forgot-pw div {
  color:white;

}

.full-name {
  display: flex;
  margin-bottom: 15px;
}

.full-name input[type=text]{
  display: inline-block;
  height: 40px;
  width: 232.5px;
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  background-color: rgb(115, 170, 193, 0.72);
}

.full-name #firstname {
  margin: 10px 0px 0px 100px;
}

.full-name #lastname {
  margin: 10px 0px 0px 30px;
}

form input[type=checkbox] {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #8CB8D1;
  color: #8CB8D1;
}

#tos {
  display: inline-block;
  font-size: 18px;
  color: white;
}

.captcha label {
  display: block;
  font-size: 15px;
  color: #111;
  margin-bottom: 3px;

}

.captcha {
  margin: 15px 0px;
}

.captcha .preview {
  color: rgb(222, 207, 207);
  width: 250px;
  text-align: center;
  height: 40px;
  margin-left: 100px;
  line-height: 40px;
  letter-spacing: 8px;
  background-color: rgba(115, 170, 193, 0.4);
  /* border: 1px dashed rgb(15, 66, 129); */
  border-radius: 8px 8px 0px 0px;
  font-family: monospace;
}

.captcha .preview span {
  display: inline-block;
  user-select: none;
}

.captcha .captcha-form {
  display: flex;
}

.captcha .captcha-form input {
  width: 210px;
  padding: 8px;
  margin-top: 0px;
  margin-right: 0px;
  border-radius: 0px 0px 0px 8px;
  /* border: 1px solid rgb(38, 103, 183); */
}

.captcha .captcha-form .captcha-refresh {
  width: 40px;
  border: none;
  outline: none;
  background-color: rgb(42, 79, 126);
  color: rgb(176, 223, 232);
  height: 40px;
  cursor: pointer;
  border-radius: 0px 0px 8px 0px;
}


