.container {

    /* width: 100%; */
    margin: 0 100px 0 100px;
    /* border-radius: 25px; */
    background-color: rgb(51, 88, 121);
}

.card {
    width: 100%;
    box-sizing: inherit;
    box-align: center;
    background-color: #bad3e192;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    


    padding: 0 50px;
}

.box {
    padding: 15px;
    justify-content: center;
}

.box h1{
    color: #A0CCDA;
}

.box p {
    color: #dcf1f8;
}


.card-box1 {
    text-align: center;
    position: relative;
}

.card-box1 h2{
    color: #A0CCDA;
}


.card-box2 {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;

    position: relative;
}

.box {
    width: 35%;
    margin: 0 -5px;
    image-orientation: flip;
}

img {
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: relative;
    padding: 10px;
}

.block {
    text-align: center;
}

.block h2{
    color: #A0CCDA;
}

.block p{
    color: #dcf1f8;
}
.launch-time{
    display: flex;
    word-spacing: 80px;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}

