*{
    font-family: 'Kreon';
    font-style: normal;
}
.upload-row{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.outer-box{
    /*background: linear-gradient(rgb(5, 5, 5),rgb(34, 3, 34));*/
    background-size:cover;
    background-position: center;
}

.form-box{
    /*background:rgb(28,4,28);*/
    background:#95B2C8;
    width:75%;
    height:2200px;
    position:relative;
    padding:10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin: 5% 10% 5% 10%;
    overflow:hidden;
}

.upload-topic{
    color:#060606;
    font-family: 'Kreon';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 34px;
    margin-left:3%;
}

hr{
    border: 2.5px solid #315168;
    transform: rotate(0.06deg);
    margin-top:1%;
}

.btn-box{
    margin:35px auto;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 0 10px 3px #315168;
    width:320px;
}

.toggle-btn{
    padding:10px 50px;
    cursor:pointer;
    background:transparent;
    outline:none;
    border:0;
    position:relative;
    font-size: 20px;
}

#btn {
    top:0;
    left:0;
    position:absolute;
    align-items: center;
    width:160px;
    height:41px;
    border-radius: 7px;
    border-width:2px;
    transition:.5s;
}

#game-active{
    top:0;
    left:0;
    position:absolute;
    align-items: center;
    width:160px;
    height:41px;
    background: #749ABD;
    border-radius: 7px;
    border-width:2px;
    transition:.5s;
}


#asset-active{
    top:0;
    right:0;
    position:absolute;
    align-items: center;
    width:160px;
    height:41px;
    background: #749ABD;
    border-radius: 7px;
    border-width:2px;
    transition:.5s;
}

.input-upload-group{
    top:180px;
    position:absolute;
    transition:.5s;
}

label{
    font-weight: 1000;
    font-size: 20px;
    line-height: 25px;
    color: #000000;

}

input,select,textarea{
    width: 85%;
    padding: 10px 0;
    margin: 5px 0;
    border: 2px solid #1E3455;
    background: transparent;
    outline: none;
    border-radius: 4px;
}

input::placeholder,option,select:checked{
    color: rgba(72, 95, 117, 0.6);
    padding-left:2%;
    font-weight:800;
}

input[type=radio]{
    width:auto;
}


p{
    color:#203446;
    font-weight:800;
}

.visibility label{
    color:#203446;
    font-weight:800;
    font-size:1em;
}

textarea{
    border: 2px solid #1E3455;
    
}

select option{
    background:#749ABD;
    color:#1E3455;
}

.submit-btn {
    cursor: pointer;
    color:white;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 20px 1px #315168;
    width: 160px;
    height: 41px;
    background:#383F7D;
    border-radius: 7px;
    border-width: 2px;
    transition: .5s;
    font-family: 'Kreon';
    font-style: normal;
    font-weight: 700;
    font-size: 1emx;
    line-height: 25px;
}

/* .submit-btn{
    width:50%;
    height:35px;
    padding:10px 30px;
    cursor:pointer;
    display: block;
    margin:auto;
    background:linear-gradient(to right, rgb(114, 111, 114), rgb(216, 214, 216));
    border: 0;
    outline:none;
    border-radius:30px;
} */

#upload-game-form,#upload-asset-form{
    margin: 2% 5% 2% 5%;
    overflow: hidden;
}

/* #upload-game-form{
    left:5px;
} */

/* #upload-asset-form{
    left:1705px;
} */


.game-spec-type{
    margin:0 0 0 0;
    display:flex;
    justify-content: space-evenly;   
}

.game-spec-item{
    margin-right: 20%;
    margin-left:10%;
}

.game-spec-item-details{
    margin-right: 5%;
    margin-left: 0;
}

.game-spec-item-details input{
    width:100%;
}

/* Redactor Box */

.main-content {
    width: 425.4px;
    border: 2px solid;
    
}

.text-editor-header {
    background-color: rgb(162, 198, 213);
    padding: 5px;
}

.text-editor-header .rbtn {
    margin-right: 5px;
    background-color: rgb(156, 185, 196);
    padding: 2px;
}

.content-box {
    min-height: 250px;
    border-top: 0.7px solid;
    padding: 15px;

}

.errors-display {
    font-size: 17px;
    display: block;
    color: rgb(213, 69, 69);
    background-color: rgb(115, 170, 193, 0.72);
    margin: 0px 70px 6px 0px;
    border-radius: 7px;
    height: 30px;
    padding: 4px;
  }
  